{% extends 'mainweb/main.html' %}

{% load static %}

{% block title %} {{post.title}} {% endblock title %}

{% block content %}

<main id="main">
  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container">

      <div class="row">

        <div class="col-lg-8 entries">

          <article class="entry entry-single" data-aos="fade-up">

            <div class="entry-img">
              <img src="{{post.imgURL}}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="">{{post.title}}</a>
            </h2>

            <!-- comment report -->
            {% include 'blog/comment_report.html' %}
            <!-- end of comment report -->

            <div class="entry-content">
              <p class="text-justify">
                {{post.body|safe}}
              </p>
            </div>
          </article><!-- End blog entry -->
          
  
          <!-- comments below -->
       
          <div class="blog-comments" data-aos="fade-up">
            {% for comment in comments %}
            

              <div id="comment-3" class="comment clearfix">
                <img src="{% static 'assets/img/profile.png' %}" class="comment-img  float-left" alt="">
                <h5><a href=""> Comment {{ forloop.counter }} by {{comment.name}}</a> <!-- <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a> --></h5>
                <time datetime="2020-01-01">{{comment.created}}</time>
                <div id="comment-1" class="comment clearfix">
                  <p class="text-justify">
                    {{ comment.body|linebreaks }}
                  </p>
                </div>
              <hr class="devider">

            </div>

            {% empty %}
            <p>There are no comments yet.</p>
            {% endfor %}

            {% if new_comment %}
              <h5 class="text-center">Your Comment has been added</h5>

            {% else %}
          </div>
          <diV class="card-body">      
            <div class="text" data-aos="fade-right">
              <h2>Add a new Comment</h2>
              <form method="post">
                {% csrf_token %}
                {{comment_form.as_p}}
                <p><input type="submit" value="Add Comment"></p>
              </form>
              {% endif %}
            </div>
          </diV>
          <!-- End blog comments -->
        
          

        </div><!-- End blog entries list -->
        {% include 'blog/sidebar.html' %}

      </div>

    </div>
  </section><!-- End Blog Section -->




</main>

{% endblock content %}