{% extends 'mainweb/main.html'  %}
{% load static %}
{% block title %}{{ post.title }} {% endblock %}
{% block content %}
<!-- slider Area Start-->
<div class="slider-area ">
<div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/about.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap pt-100">
                    <h2> Blog Details</h2>
                    <nav aria-label="breadcrumb ">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#"> Blog</a></li> 
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- slider Area End-->
<section class="blog_area section-padding">
<div class="container">
    
    <div class="row">
        <div class="col-lg-12 mb-5 mb-lg-0">
            <div class="blog_left_sidebar">
                <article class="blog_item">   
                    <div class="blog_item_img">
                        <img class="card-img rounded-0" src="{{ post.imgURL }}" height="400px" alt="">
                         <p class="blog_item_date">Published {{ post.publish }}  by {{ post.author }}</p>
                    </div>

                    <div class="blog_details">
                     <h2> <a class="d-inline-block" href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                    </h2>
                        <p>{{ post.body|linebreaks }}</p>
                        <ul class="blog-info-link">
                            <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                        </ul>
                    </div>
                </article>

            </div>
        </div>
    </div>
  
</div>
</section> 



<!-- 	<h1>{{post.title}}</h1>

<p class="date">Published {{ post.publish }}  by {{ post.author }}</p>
{{ post.body|linebreaks }}

{% endblock content %}