{% load static %}
<div class="container-fluid py-5 my-5 px-0">
    <div class="text-center mx-auto wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
        <p class="fw-medium text-uppercase text-primary mb-2">Our Projects</p>
        <h1 class="display-0 mb-5">See What We Have Completed Recently</h1>
    </div>
    <div class="owl-carousel project-carousel bg-dark wow fadeIn" data-wow-delay="0.1s">
    {% if project %}
        {% for item in project %}
        <a class="project-item" href="">
            <img class="img-fluid" src="{{item.image.url}}" alt="">
            <div class="project-title">
                <h5 class="text-primary mb-0">{{item.title}}</h5>
            </div>
        </a>
        {% endfor %}
    {% else %}
    <!--<div class="project-title">
        <h5 class="text-primary mb-0">No projects uploaded yet, you can contact admin</h5>
    </div>-->
    {% endif %}
    </div>
</div>