{% load static %}
<div class="container-xxl py-5">
    <div class="container">
        <!-- service caption -->
            {% include 'mainweb/addservice_caption.html' %}
        <!-- end of service caption -->
        <div class="row gy-5 gx-4">
            {% for item in serviceh %}
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s" style="background-color: rgb(241, 236, 234);">
                <div class="service-item">
                    <img class="img-fluid" src="{{item.image.url}}" alt="">
                    <div class="service-img">
                        <img class="img-fluid" src="{{item.image.url}}" alt="">
                    </div>
                    <div class="service-detail">
                        <div class="service-title">
                            <hr class="w-25">
                            <h3 class="mb-0">{{item.title}}</h3>
                            <hr class="w-25">
                        </div>
                        <div class="service-text" style="color: #fff;">
                            {{item.body|safe}}
                        </div>
                    </div>
                    <a class="btn btn-light" href="">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>