{% load static %}
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <p class="fw-medium text-uppercase text-primary mb-2">Testimonial</p>
          <h3 class="display-0 mb-5">What Our Clients Say!</h3>
      </div>
      <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
        {% if testify %}
        {% for info in testify %}            
          <div class="testimonial-item text-center">
              <div class="testimonial-img position-relative">
                  <img class="img-fluid rounded-circle mx-auto mb-5" src="{% static 'img/testimonial-3.jpg' %}">
                  <div class="btn-square bg-primary rounded-circle">
                      <i class="fa fa-quote-left text-white"></i>
                  </div>
              </div>
              <div class="testimonial-text text-center rounded p-4">
                  <p>{{info.testify|safe}}</p>
                  <h5 class="mb-1">{{info.name}}</h5>
                  <span class="fst-italic">{{ info.role }}</span>
              </div>
          </div>
        {% endfor %}
        {% else %}
            <h3>No info provided about staff</h3>
        {% endif %}

      </div>
  </div>
</div>
