{% load static %}
<div class="col-lg-4">
       <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget search_widget">
             <form action="#">
                <div class="form-group">
                   <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder='Search Keyword'
                         onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                      <div class="input-group-append">
                         <button class="btns" type="button"><i class="ti-search"></i></button>
                      </div>
                   </div>
                </div>
                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                   type="submit">Search</button>
             </form>
          </aside>
          <aside class="single_sidebar_widget popular_post_widget">
             <h3 class="widget_title">Recent Post</h3>
             {% for post in posts %}
             <div class="media post_item">
                <img style="height:80px; width: 90px;" src="{{post.imgURL}}" alt="post">
                <div class="media-body">
                   <a href="{% url 'mainweb:blog_detailspage' %}">
                      <h3>{{post.title}}</h3>
                   </a>
                   <p>{{post.created}}</p>
                </div>
             </div>
             {% endfor %}    
          </aside>
       </div>
    </div>