<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-0 pe-5">
    <a href="" class="navbar-brand ps-5 me-0">
        <h1 class="text-white m-0">Curgen</h1>
    </a>
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link active">OUR WORK</a>
            <a href="{% url 'mainweb:Aboutpage' %}" class="nav-item nav-link">OUR TEAM</a>
            <a href="{% url 'mainweb:servicepage' %}" class="nav-item nav-link">OUR NEWS</a>
            <a href="{% url 'mainweb:projectspage' %}" class="nav-item nav-link">WORK WITH US</a>
            <!--<div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="{% url 'mainweb:teampage' %}" class="dropdown-item">Our Team</a>
                    <a href="" class="dropdown-item">Career</a>
                </div>
            </div>-->
            <a href="{% url 'mainweb:contactpage' %}" class="nav-item nav-link">Contact</a>
        </div>
        <a href="" class="btn btn-primary px-3 d-none d-lg-block">Get A Quote</a>
    </div>
</nav>