{% load static %}
<div class="wrap">
	<div class="container-fluid bg-dark">
		<div class="row p-3">
			<div class="col-md-6 d-flex align-items-center">
				<p class="mb-0 phone pl-md-2">
					<a class="text-white" href="#" class="mr-2"><i class="fa fa-phone mr-1"></i> +256787098452</a>
					<a class="text-white" href="#"><span class="fa fa-paper-plane p-2"></span> cheapbuildlimited@gmail.com</a>
				</p>
			</div>
			<div class="col-md-6 d-flex justify-content-md-end">
				<div class="social-media mr-4">
                    <p class="mb-0 d-flex">
                        <a href="https://www.facebook.com/profile.php?id=100063975616028&mibextid=ZbWKwL" class="d-flex align-items-center justify-content-center p-2"><span class="bi bi-facebook"><i class="sr-only"></i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center p-2"><span class="bi bi-twitter"><i class="sr-only"></i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center p-2"><span class="bi bi-youtube"><i class="sr-only"></i></span></a>
                        <a href="https://instagram.com/cheapbuildltd?igshid=MzMyNGUyNmU2YQ==" class="d-flex align-items-center justify-content-center p-2"><span class="bi bi-instagram"><i class="sr-only"></i></span></a>
                    </p>
                </div>
		    </div>
		</div>
	</div>
</div>
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-0 pe-5">
    <a href="/" class="navbar-brand ps-5 me-0">
        <!-- <h1 class="text-white m-0">Cheap Build</h1> -->
        <img style="width: 100px;" src="{% static 'img/logo.jpeg' %}">
    </a>
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">OUR WORK</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="{% url 'mainweb:projectspage' %}" class="dropdown-item">Products</a>
                    <a href="" class="dropdown-item">
		        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Services
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">House Plans</a>
                                        <a class="dropdown-item" href="#">Build</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Train</a>
                                    </div>
                                 </li>
                              </ul>
    
			    </div>


			    
		    </a>
                    <a href="" class="dropdown-item">Projects</a>
                </div>
            </div>
            <!-- <a href="{% url 'mainweb:Aboutpage' %}" class="nav-item nav-link">About</a> -->
            <a href="{% url 'mainweb:teampage' %}" class="nav-item nav-link">OUR TEAM</a>
            <!-- <a href="{% url 'mainweb:servicepage' %}" class="nav-item nav-link">Services</a> -->
            <a href="{% url 'blog:blog_list' %}" class="nav-item nav-link">OUR NEWS</a>

            <a href="{% url 'mainweb:contactpage' %}" class="nav-item nav-link">WORK WITH US</a>
        </div>
        <a href="" class="btn btn-primary px-3 d-none d-lg-block">DONATE</a>
    </div>
</nav>
