{% load static %}
  <!-- ======= slider ======= -->
<div class="container-fluid px-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for item in banas %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <!--<img class="w-100" src="{{item.image.url}}" alt="Image">-->
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 text-start">
                                <p class="fs-5 fw-medium text-primary text-uppercase animated slideInRight text-white">5 Years
                                        of Working Experience</p>
                                <h3 class="display-0 text-white mb-5 animated slideInRight">Cheap Build Limited</h3>
                                <a href="{{ item.btn_link }}" class="btn btn-primary btn-navyblue py-3 px-5 animated slideInRight">Explore More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
